.stepper.horizontal .step .step-header {
    background: #292929;
}

.stepper .line {
    border-left: 2px solid #414141;
}

.stepper.horizontal .step .line {
    border-top: 2px solid #414141;
}

.stepper .step:hover, .stepper.horizontal .step:hover .step-header {
    background: #303030;
}

.stepper .step > div:first-child .circle {
    background: #bb86fc !important;
}

.stepper .step.success > div:first-child i,
.stepper .step.success .title, .stepper .step.success .description {
    color: #bb86fc !important;
}

.feedback {
    background: transparent;
}

.feedback .loader-wrapper {
    background-color: rgb(59, 59, 59) !important;
}
