sudo: false
language: java
jdk:
- oraclejdk8
cache:
  directories:
  - $HOME/.m2
before_install:
# install the gwt-material library before we build the demo
- git clone -b bd_api_work https://github.com/GwtMaterialDesign/gwt-material.git
- cd gwt-material
- mvn install -DskipTests=true -DdryRun=true
- cd ..
install: true
before_script:
 - chmod +x .utility/*
script:
- mvn clean install -DdryRun=true
after_success:
- .utility/deploy.sh
