.lolliclock-header {
    background-color: #1e1f22 !important;
}

.lolliclock-popover {
    background-color: #2e3033;
}

.lolliclock-plate {
    background-color: #282828;
}

.lolliclock-active-button-background {
    background: #bb86fc !important;
}

.lolliclock-btn-text {
    color: #d2d2d2;
}

.lolliclock-active-button-text {
    color: #000;
}

.lolliclock-button {
    color: #bb86fc !important;
}

.lolliclock-canvas-bg {
    fill: #d6b5ff !important;
}

.lolliclock-canvas-fg {
    fill: #bb86fc !important;
}

.lolliclock-canvas line {
    stroke: white !important;
}

.lolliclock-tick.active, .lolliclock-tick:hover {
    background-color: #bb86fc !important;
}