.overlay-panel{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    background: #fff;
}

.overlay-tab .lean-overlay {
    background: rgba(0,0,0,0.7);
}

.overlay-panel.tab {
    will-change: transform, opacity, box-shadow;
    -webkit-transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px;
    cursor: pointer;
}

.overlay-panel .minimize-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1010;
}

.overlay-panel .number {
    font-size: 12em;
    text-align: center;
    padding: 10%;
    width: 100%;
}

.overlay-panel.maximize {
    transform: translate3d(0px, 0px, 0px) scale(1) !important;
}

.overlay-panel.hidden {
    transform: translate3d(0, 100%, 0) scale(1) !important;
}

.overlay-tab .close {
    position: fixed;
    bottom: 32px;
    right: 22px;
    z-index: 1020;
}

.overlay-tab-activator {
    position: relative;
}

.overlay-tab-activator .badge {
    width: 16px !important;
    height: 16px !important;
    padding-top: 8px !important;
    right: 0;
    top: -8px;
    background: #E91E63;
}