.subheader {
    background: #fff;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    color: #fff;
}
.subheader.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 999;
}
.subheader.fixed.absolute {
    position: absolute;
}
.subheader.static{
    position: initial !important;
    box-shadow: none !important;;
}