.material-window nav .nav-wrapper {
    width: 100% !important;
}

.material-window header,.material-window main {
    padding: 0;
}

.material-window-maximize {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    max-height: 100% !important;
}

.material-window-maximize {
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
}