.input-field.inline-search {
    position: absolute;
    right: 25%;
    width: 50%;
    background: #51a6ea;
    height: 40px;
    margin-top: 12px;
    border-radius: 4px;
    overflow: hidden;
}

.input-field.inline-search i {
    height: 32px;
    line-height: 40px;
    font-size: 2em;
}

.inline-search .search-result {
    display: none;
}

.input-field.inline-search input {
    width: calc(100% - 4rem) !important;
    color: rgba(0, 0, 0, 0.8);
    line-height: 40px;
}

.input-field.inline-search input[type="search"]::-webkit-input-placeholder,
.input-field.inline-search input[type="search"]:-moz-placeholder,
.input-field.inline-search input[type="search"]:focus::-webkit-input-placeholder,
.input-field.inline-search input[type="search"]:focus::-moz-placeholder {
    color: white;
}

.input-field.inline-search.expandable-search {
    width: 0px;
    transition: 0.4s all;
    right: 240px;
}

/** Light theme **/
.light.input-field.inline-search, .light.input-field.inline-search input[type="search"]:focus {
    background: #eeeeee;
}

.light.input-field.inline-search i {
    color: grey !important;
}

.light.input-field.inline-search input[type="search"]::-webkit-input-placeholder,
.light.input-field.inline-search input[type="search"]:-moz-placeholder,
.light.input-field.inline-search input[type="search"]:focus::-webkit-input-placeholder,
.input-field.inline-search input[type="search"]:focus::-moz-placeholder {
    color: grey !important;
}

/** Mobile & Tablet Usecase **/
@media screen and (max-width: 768px) {
    .input-field.inline-search {
        margin-top: 8px;
        width: 90%;
        right: 5% !important;
    }

    .input-field.inline-search.fixed-inline-search {
        width: 90% !important;
    }

    .input-field.inline-search input {
        padding-left: 4rem !important;
    }
}