.question-item {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: .1rem solid #e9e9e9;
}

.question-item .question-wrapper {
    width: calc(100% - 48px);
    margin: auto;
}

.question-item .question-label {
    font-size: 1.2em;
    font-weight: 400;
    color: #4a4a4a;
}

.question-item .label-panel {
    margin-top: 30px;
}

.question-item .label-panel span {
    color: #4a4a4a;
    font-size: 0.8em;
}

.question-item .label-panel span:nth-child(1) {
    float: left;
}

.question-item .label-panel span:nth-child(2) {
    float: right;
}

.question-item .group-toggle-button .wrapper {
    box-shadow: none !important;
    border: .1rem solid #4a4a4a;
    border-right: none;
    width: 100%;
    margin-top: 12px;
}

.question-item .group-toggle-button .wrapper button {
    cursor: pointer;
    font-size: 1.3em;
    height: 40px;
    border-right: .1rem solid #4a4a4a;
    padding: 0px;
    font-weight: bold;
}

.question-item .group-toggle-button .wrapper button:hover {
    background: #51aff9;
    color: #fff;
}

.category-question {
    font-size: 1.6em;
    font-weight: 300;
    padding: 32px 60px 32px;
    color: #3e97f3;
}

.signature-validation .signature-pad {
    margin-top: 12px;
    border: .1rem solid #9e9e9e;
    width: 60%;
    height: 200px;
}

/** Question Progress **/
.question-progress {
    position: fixed;
    background: #171717;
    width: 100%;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 0.8em;
    padding: 12px;
    text-align: center;
    z-index: 999;
}

.question-progress .progress {
    background: rgba(255,255,255,0.5);
    width: 30%;
    display: inline-block;
}

.question-progress .progress .determinate {
    background: #fff;
}

.question-progress span {
    width: 10%;
    display: inline-block;
    text-align: right;
    padding-right: 40px;
    margin-left: -60px;
}

/** Error Styles **/
.question-item.field-error {
    background: #ffebee;
    border-bottom: .1rem solid white !important;
}

/** Mobile **/
@media screen and (max-width: 600px) {
    .category-question, .question-item {
        padding: 20px 28px;
    }

    .question-item .question-wrapper, .signature-validation .signature-pad {
        width: 100%;
    }

    .contact {
        padding: 32px !important;
        text-align: justify;
    }

    .question-progress .progress {
        width: 80%;
    }
}