.TouchSplitter {
    overflow: hidden;
    background: black;
}

.TouchSplitter.h-ts > div {
    height: 100%;
    width: 42%;
    width: calc(50% - .5em);
}

.TouchSplitter.v-ts > div {
    width: 100%;
    height: 42%;
    height: calc(50% - .5em);
}

.TouchSplitter > div {
    display: block;
    margin: 0;
    padding: 0;
    float: left;
}

.TouchSplitter.h-ts > div.splitter-bar {
    width: 1em;
    cursor: col-resize
}

.TouchSplitter.v-ts > div.splitter-bar {
    height: 1em;
    cursor: row-resize
}

.TouchSplitter > div.splitter-bar.dock > div {
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-position: center;
}

.TouchSplitter,
.TouchSplitter > div,
.TouchSplitter > div.splitter-bar > div {
    position: relative;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.TouchSplitter > div.test-calc {
    width: 10px;
    width: calc(10px + 10px);
}

.TouchSplitter > div.test-em {
    width: 1em;
}

.TouchSplitter > div.splitter-bar > div {
    width: 0.2rem;
    height: 1em;
    position: relative;
    background: white;
}

.TouchSplitter.h-ts > div.splitter-bar > div {
    margin-top: 0px;
    top: 50%;
    margin-left: 25%;
    height: 20px;
    width: 50%;
}

.TouchSplitter.v-ts > div.splitter-bar > div {
    width: 20px;
    line-height: 20px;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}