/** Nested dropdown **/
.menu-bar ul.dropdown-content {
    overflow: visible !important;
    width: 280px !important;
    padding: 16px 0px;
}
.menu-bar ul.dropdown-content .dropdown-content{
    position: relative !important;
    margin-top: 0px;
    left: 280px !important;
    top: -48px !important;
}
.menu-bar .dropdown-content li {
    display: inline-block;
    min-height: 0px;
    line-height: 0px;
    max-height: 32px;
}
.menu-bar li {
    height: 40px;
}
.menu-bar .dropdown-content li > a, .menu-bar .dropdown-content li > span {
    font-size: 1em !important;
    min-height: 0px;
    line-height: 16px;
    color: #000;
    padding: 8px 24px;
    display: inline-block;
}
/** Supports checkbox on dropdown **/
.menu-bar ul.dropdown-content [type="checkbox"] + label{
    font-size: 12px;
}
.menu-bar ul.dropdown-content [type="checkbox"] + label:before {
    border: 2px solid rgba(90, 90, 90, 0);
}
.menu-bar ul.dropdown-content [type="checkbox"]:checked + label:before {
    border: 2px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.6);
    border-bottom-color: rgba(0, 0, 0, 0.6);
}
.menu-bar ul.dropdown-content li > span.gwt-CheckBox {
    line-height: 0;
    padding: 4px 4px 4px 12px;
}
.menu-bar ul.dropdown-content [type="checkbox"] + label{
    height: initial;
    color: #000;
    width: 100%;
}

.menu-bar ul li img {
    width: 20px !important;
    height: 20px !important;
}

@media only screen and (max-width: 992px) {
    .menu-bar ul.dropdown-content, .menu-bar ul.dropdown-content ul.dropdown-content{
        left: 0 !important;
        width: 100% !important;
    }
}