.daterangepicker,
.daterangepicker .calendar-table,
.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
    background-color: #2e3033;
    border-color: #2e3033;
}

.daterangepicker:after {
    border-bottom: 6px solid #2e3033;
}

.daterangepicker:before {
    border-bottom: 7px solid #2e3033;
}

.daterangepicker th.month {
    color: rgba(255, 255, 255, .6);
}

.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
    border: solid white;
    border-width: 0 2px 2px 0;
}

.daterangepicker .drp-buttons {
    border-top: 1px solid #3d3d3d;
}

.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.in-range.active:not(.off) {
    background-color: #bb86fc;
    color: #292929;
}

.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
    background-color: #2e3033;
}

.daterangepicker td.available:hover:after {
    border: 2px solid #bb86fc;
}

.daterangepicker td.in-range,
.daterangepicker td.available.in-range:hover:not(.active) {
    background-color: rgba(187, 134, 252, .08);
    color: #bb86fc;
}

button.cancelBtn {
    color: #bb86fc;
}

.daterangepicker:not(.single) .drp-buttons {
    background-color: #2e3033;
}