/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots li {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: rgba(33, 150, 243, 0.23);
    transition: background-color .3s;
    border-radius: 50%;
}

.slick-dots li button {
    display: none;
}

.slick-dots li.slick-active {
    background: #2196f3;
}

.material-carousel {
    position: relative;
    width: calc(100% - 80px);
    margin: auto;
}

.material-carousel .carousel-next-arrow, .material-carousel .carousel-prev-arrow {
    position: absolute;
    top: 50%;
    margin-top: -32px;
    width: 28px !important;
    height: 28px !important;
    line-height: 28px !important;
}

.material-carousel .carousel-next-arrow i, .material-carousel .carousel-prev-arrow i {
    line-height: 28px !important;
}

.material-carousel .carousel-next-arrow {
    right: -44px;
}

.material-carousel .carousel-prev-arrow {
    left: -44px;
}

.material-carousel ul.slick-dots {
    text-align: center;
}

/** Image Type Carousel **/
.carousel-image .slick-dots {
    margin-top: -40px;
}

.carousel-image .slick-dots li {
    background: rgba(255,255,255,0.5);
}

.carousel-image .slick-dots li.slick-active {
    background: white;
}

.carousel-image .carousel-next-arrow {
    background: transparent;
    box-shadow: none;
}

.carousel-image .carousel-next-arrow, .carousel-onboard .carousel-next-arrow {
    background: transparent !important;
    box-shadow: none !important;
    right: 12px !important;
}

.carousel-image .carousel-prev-arrow, .carousel-onboard .carousel-prev-arrow {
    background: transparent !important;
    box-shadow: none !important;
    left: 12px !important;
}


/** OnBoard Type Carousel **/
.carousel-onboard .carousel-next-arrow, .carousel-onboard .carousel-prev-arrow {
    bottom: 20px;
    top: initial !important;
    z-index: 1001;
}

.carousel-onboard .slick-dots {
    margin-top: -56px;
    border-top: 1px solid rgba(255,255,255,0.2);
    z-index: 1;
    position: relative;
}

.carousel-onboard .slick-dots {
    margin-top: -60px;
}

.carousel-onboard .slick-dots li {
    background: rgba(255,255,255,0.5);
}

.carousel-onboard .slick-dots li.slick-active {
    background: white;
}

.carousel-onboard .slick-slide {
    padding-bottom: 80px;
}

.carousel-onboard {
    top: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    height: 100%;
}