.material-carousel .carousel-next-arrow,
.material-carousel .carousel-prev-arrow,
ul.slick-dots li.slick-active{
    background-color: #bb86fc;
}

.material-carousel:not(.carousel-image) .carousel-next-arrow i,
.material-carousel:not(.carousel-image) .carousel-prev-arrow i {
    color: black;
}

ul.slick-dots li {
    background-color: rgba(187, 134, 252, 0.23);
}